.multiselectable { width:500px; display:block; overflow: hidden; width: 100%; }
.multiselectable select, .multiselectable div { width: 200px; float:left; min-height: 235px; height: auto;}
.multiselectable div * { display: block; margin: 0 auto; }
.multiselectable div { display: inline; }
.multiselectable .m-selectable-controls { margin-top: 3em; width: 50px; }
.multiselectable .m-selectable-controls button { margin-top: 1em; }